<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-6">

         <h1 style="text-align: center"> Add Subject</h1>

        <form action="/admin/subject/add-subject" method="post">

            <div class="form-group">
                <label for="subject">Subject :</label>
                <input name="subject" id="subject" type="text" placeholder="Please provide subject name" class="form-control">
            </div>

            <div class="form-group">
                <label for="faculty">Choose Faculty :</label>
                <select name="facultyId" id="faculty" class="form-control">
                    <option value="" disabled selected>Choose one faculty</option>
                    {{#each faculties}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="semester">Choose semester :</label>
                <select name="semester" id="semester" class="form-control">
                    <option value="" disabled selected>Choose one semester</option>
                </select>
            </div>

        
            <button type="submit" class="btn btn-primary float-right">Add Subject</button>
        </form>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
        <h1 style="text-align: center"> All Subjects</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Faculty</th>
                    <th>Semester</th>
                    <th>Subjects</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>

                {{#each subjects}}
                    <tr>
                        <td>{{faculty}}</td>
                        <td>{{semester}}</td>
                        <td>{{name}}</td>
                        <td>
                            <form action="/admin/subject/{{id}}?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger" >DELETE</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                
            </tbody>
        </table>

    </div>

</div>




<script type="text/javascript">

    $('#faculty').change(function () {

        var facultyId = document.getElementById('faculty').value;
        

        $.ajax({

            type: "POST",
            url: '/admin/subject/get-semester',
            data: {facultyId: facultyId},
            cache: false,
            success: function(data) {

                $('#semester').html('');
                for(var i=0; i<data.length; i++) {
                $('#semester').append('<option value = "' + data[i] + '">' + data[i] + '</option>')
                }

               
                
            },
            error: function() {
                
            }
            
        });

    });

</script>


