<h2>All Events.</h2>



{{#if failure_message }}
<div class="alert alert-danger">
    {{failure_message}}
</div>
{{/if}}

{{#if success_message }}
<div class="alert alert-success">
    {{success_message}}
</div>
{{/if}}

<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>

    <tbody>


        {{#each events}}

        <tr>
            <td>{{id}}</td>
            
            <td>{{title}}</td>
            <td>
                <img height="50" src="/uploads/{{file}}" alt="" class="img img-responsive">
            </td>
            <td>{{description}}</td>

            <td>
                <form action="/admin/events/{{id}}?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger" >DELETE</button>
                </form>
            </td>
        </tr>
        
        {{/each}}
    </tbody>

</table>